<footer>
    <section style="background-color: #3F5D45;">
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5 col-12 d-flex align-items-center justify-content-center">
                    <img src="../../assets/img/logo-light.svg" width="40" class="mr-2">
                    <span style="font-size: 24px; color: #EAF0ED;">訂閱你我甜蜜郵件</span>
                </div>
                <div class="col-md-5 col-12 d-flex">
                    <div class="input-group justify-content-center">
                        <span class="input-group-text rounded-0" id="basic-addon1"
                            style="background-color:white; border-right:0">
                            <i class="fa-solid fa-envelope" style="color: #3F5D45;"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" placeholder="甜蜜聯絡信箱" aria-label="Username"
                            aria-describedby="basic-addon1"
                            style="background-color:white; border-left:0; max-width: 380px; height: 56px;">
                        <button class="btn btn-warning rounded-0" type="button" id="button-addon2"><i
                                class="fa-solid fa-arrow-right" style="color: #000000;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: #EAF0ED;">
        <div class="container">
            <div class="row py-5 justify-content-start">
                <div class="col-6 d-flex justify-content-between flex-column">
                    <div><img src="../../assets/img/logotype-lg-dark.svg" width="171"></div>
                    <div class="d-flex flex-column footer-fontsize mt-3">
                        <span>07-1234-5678</span>
                        <span>sweetaste@email.com</span>
                        <span>800 高雄市新興區幸福路 520 號</span>
                    </div>
                </div>
                <div class="col-6 d-none d-md-block ">
                    <div class="d-flex flex-row-reverse"><img src="../../assets/img/sm-今天是個吃甜點的好日子.svg" height="218">
                    </div>
                </div>
            </div>
            <div class="row py-4 justify-content-start">
                <div class="col-6">
                    <a href="#" class="mr-1"><i class="fa-brands fa-square-instagram fa-2xl"
                            style="color: #3F5D45;"></i></a>
                    <a href="#"><i class="fa-brands fa-square-facebook fa-2xl" style="color: #3F5D45;"></i></a>
                </div>
                <div class="col-6 d-flex flex-row-reverse">
                    <span class="d-none d-md-block footer-fontsize">© 2018 Sweetaste* All Rights Reserved</span>
                </div>
                <div class="d-block d-md-none mt-2 footer-fontsize">
                    <span>© 2018 Sweetaste* All Rights Reserved</span>
                </div>
            </div>
        </div>
    </section>
</footer>