<div class="row">
    <div class="form-block p-3">
        <div class="form-row p-3">
            <div class="col"><span class="page-title">運送</span></div>
            <div class="col d-flex justify-content-between align-items-center progress-line"
                style="position: relative;">
                <div class="dot">
                    <div class="dot-active"></div>
                </div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div class="container">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="FirstName" class="form-label form-label">姓氏</label>
                        <input type="text" class="form-control input-box" id="FirstName" placeholder="王"
                            [(ngModel)]="receiveLastName" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="LastName" class="form-label form-label">名字</label>
                        <input type="text" class="form-control input-box" id="LastName" placeholder="大明"
                            [(ngModel)]="receiveFirstName">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="tel" class="form-label form-label">電話</label>
                <input type="tel" class="form-control input-box" id="tel" placeholder="0912-345-678"
                    [(ngModel)]="receivePhone">
            </div>

            <label for="address" class="form-label form-label">地址</label>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <select class="form-control rounded-0 input-box" name="city" id="city" [(ngModel)]="receiveCity"
                            (change)="onCityChange()">
                            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                        </select>

                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <select class="form-control rounded-0 input-box" name="district" id="district"
                            [(ngModel)]="receiveBlock">
                            <option *ngFor="let district of availableDistricts" [value]="district">{{ district }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col mb-2">
                    <input type="text" class="form-control input-box" id="address" placeholder="幸福路520號"
                        [(ngModel)]="receiveRoad">
                </div>
            </div>
        </div>

    </div>
    <div class="g-0 nextstep-block">
        <a routerLink="/Checkout/Checkout2" class="btn btn-block rounded-0 nextstep-block-btn" style="font-size: 20px;"
            (click)="setInfo1ToService()">下一步</a>
    </div>
</div>